
{% load crispy_forms_tags %}

     <div class="modal-header">
        <h4 class="modal-title">Agendar al paciente: {{ paciente.nombres }} {{paciente.apellido_paterno }} {{ paciente.apellido_materno }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form action="{% url 'agenda:agenda-crear' paciente.pk %}" id='agenda_crear_form' method='POST'>
           
        {% crispy form %}
    </form>
    </div>

    <script>
     var f = new Date();
    $("#id_nombre").val("{{ paciente.nombres }} {{paciente.apellido_paterno }} {{ paciente.apellido_materno }}");
    $("#id_agenda_hora").change(function(){
        $("#id_nombre").val("{{ paciente.nombres }} {{paciente.apellido_paterno }} {{ paciente.apellido_materno }}");

    });
    $("#id_agenda_fecha_day").val(f.getDate());
    $("#id_agenda_fecha_month").val((f.getMonth() +1));
    $("#id_agenda_fecha_year").val(f.getFullYear());
    </script>