{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  
    
    <script src="{% static 'pacientes/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'pacientes/js/popper.js' %}"></script>
    <script src="{% static 'pacientes/js/bootstrap.js' %}"></script>
    <script src="{% static 'pacientes/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pacientes/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'pacientes/css/select2.min.css' %}">
    {% block cabecera_extra %}
    
    {% endblock cabecera_extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'pacientes/main.css' %}">
   

    {% if title %}
        <title>Clinica - {{ title }}</title>
    {% else %}
        <title>Clinica</title>
    {% endif %}
    <style>        .fc-event{
        cursor: pointer;
        }</style>
</head>
<body>




    <header class="site-header">

		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<a class="navbar-brand"  href="{% url 'home' %}">Clinica Dental</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link"href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Pacientes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'pacientes:pacientes-listar' %}">Listar</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'agenda:agenda-calendario' %}">Calendario</a>
					</li>
				</ul>
				
			<div class="navbar-nav">
              {% if user.is_authenticated %}
                {% comment %} <a class="nav-item nav-link" href="#">Perfil</a> {% endcomment %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      
              {% endif %}
            </div>
			</div>
		</nav>

    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12 ">
          
          {% block content %}{% endblock %}
        </div>
        {% comment %} <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div> {% endcomment %}
      </div>
    </main>
 
    {% block extrajs %}
    
    {% endblock extrajs %}

    <script>
      
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
   
    
</body>
</html>
