{% extends "pacientes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content">
        <button type="button" class="btn btn-primary js-crear-paciente" ><b>&plus;</b></button>
        <div id="contenido_tabla">
            {% include 'pacientes/pacientes_parcial_listar.html' %}
        </div>
        <div class="modal fade" id='modal-paciente' >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                   
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrajs %}
<script>
    $(function () {
   


    $(".js-crear-paciente").click(function () {
        $.ajax({
        url: 'new/',
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
            $("#modal-paciente").modal("show");
        },
        success: function (data) {
            $("#modal-paciente .modal-content").html(data.html_form);
        }
        });
    });

    crear_agenda = function (kk) {
        var btn=$(kk);
        $.ajax({
        url: btn.attr('data-url'),
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
            $("#modal-paciente").modal("show");
        },
        success: function (data) {
            $("#modal-paciente .modal-content").html(data.html_form);
        }
        });
    };
    actualizar = function(bb){
        var btn = $(bb);
        $.ajax({
        url: btn.attr("data-url"),
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
            $("#modal-paciente").modal("show");
        },
        success: function (data) {
            $("#modal-paciente .modal-content").html(data.html_form);
        }
        });
    };

    borrar_paciente = function (kk) {
        var btn=$(kk);
        $.ajax({
        url: btn.attr("data-url"),
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
            $("#modal-paciente").modal("show");
        },
        success: function (data) {
            $("#modal-paciente .modal-content").html(data.html_form);
        }
        });
    };

    $("#modal-paciente").on("submit", "#id_crear_form", function () {
        var form = $(this);
        $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
            if (data.form_is_valid) {
                $("#contenido_tabla").html(data.html_pacientes_lista);
                $("#modal-paciente").modal("hide");
            }
            else {
                $("#modal-paciente .modal-content").html(data.html_form);
            }
        }
        });
        return false;
    });
    $("#modal-paciente").on("submit", ".js-paciente-delete-form", function () {
        var form = $(this);
        //console.log(form.attr("action"));
        $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
            if (data.form_is_valid) {
                $("#contenido_tabla").html(data.html_pacientes_lista);
                $("#modal-paciente").modal("hide");
            }
            else {
                $("#modal-paciente .modal-content").html(data.html_form);
            }
        }
        });
        return false;
    });
    $("#modal-paciente").on("submit", "#agenda_crear_form", function () {
        var form = $(this);
        //console.log(form.attr("action"));
        $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
            if (data.form_is_valid) {
                $("#contenido_tabla").html(data.html_pacientes_lista);
                $("#modal-paciente").modal("hide");
            }
            else {
                $("#modal-paciente .modal-content").html(data.html_form);
            }
        }
        });
        return false;
    });

    });
</script>
{% endblock extrajs %}
