 {% load static %}
 {% if message %}
            
              <div class="alert alert-{{ message.tags }}">
                {{ message.message }}
              </div>
           
{% endif %}
 <table class = "table table-striped table-hover table-condensed table-inverse ">
            <thead class="thead-dark">
                <tr>
                    <th>RUT</th>
                    <th>Nombres</th>
                    <th>Email</th>
                    <th>Fecha Nacimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td scope="row">{{ paciente.rut }}</td>
                    <td>{{ paciente.apellido_paterno }} {{ paciente.apellido_materno }} {{ paciente.nombres }}</td>
                    <td>{{ paciente.email }}</td>
                    <td>{{ paciente.fecha_nacimiento }}</td>
                    <td>
                        <img data-url="{% url 'pacientes:pacientes-actualizar' paciente.pk %}" style='cursor:pointer' onclick='actualizar(this)' class='js-editar-paciente' src="{% static '/agenda/001-resume.png' %}" alt="Editar" width='31' height='31'>
                        <img data-url="{% url 'agenda:agenda-crear' paciente.pk %}" class='js-crear-agenda' onclick='crear_agenda(this)' style='cursor:pointer' src="{% static '/agenda/003-calendar.png' %}" alt="Editar" width='35' height='35'>
                         <button type="button"
                                class="btn btn-danger btn-sm js-delete-paciente"
                                onclick='borrar_paciente(this)'
                                data-url="{% url 'pacientes:pacientes-delete' paciente.id %}">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center bg-warning">Sin Pacientes</td>
                </tr>
            {% endfor %}
                    
                 
            </tbody>
        </table>

        
           
        
        <div align="center">
                {% if pacientes.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">Primera</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ pacientes.previous_page_number }}">Anterior</a>
                {% endif %}

                {% for num in pacientes.paginator.page_range %}
                    {% if pacientes.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > pacientes.number|add:'-3' and num < pacientes.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if pacientes.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ pacientes.next_page_number }}">Siguiente</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ pacientes.paginator.num_pages }}">Ultima</a>
                {% endif %}

        </div>